body {
  background-color : #EADCA6;
}
hr {
  border-style : none;
  width : 5%;
  border-top-style : dotted;
  border-color : #532E1C;
  border-width :7.5px;
    }
h3 {
  color : #532E1C ;
}
h1 {
  color : #402218;
}
